* {
  padding: 0;
  margin: 0;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Lato', sans-serif;
}

input {
  width: 100%;
  padding: 8px;
  border: 3px solid #be4882;
  border-radius: 5px;
  font-family: 'Lato', sans-serif !important;
  font-size: 32px;
  height: 40px;
}

button:disabled {
  cursor: default;
  text-decoration: line-through;
}

button:disabled img:hover {
  cursor: default;
  transform: none;
}

button {
  display: inline-block;
  background-color: transparent;
  margin: 3px;
  border: none;
  color: white;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Lato', sans-serif !important;
  font-size: 18px;
}

.my-class {
  width: 0;
}

.navbar {
  display: flex;
  position: fixed;
  float: right;
  width: 400px;
  height: 100vh;
  right: 0;
  background: url("../img/fond.jpg") fixed no-repeat right;
}

.navbar > div {
  margin: auto;
  width: 300px;
}

.navbar p {
  font-size: 30px;
  margin: 30px 0;
}

.container-button {
  display: flex;
  justify-content: center;
}

.container-button img {
  width: 60px;
  height: 60px;
  padding: 0;
  transition: 0.2s;
}

.container-button button:nth-child(2) {
  margin: 0 auto;
}

.container-button button:last-of-type {
  float: right;
}

.container-button img:hover {
  cursor: pointer;
  transform: scale(1.04);
  transition: 0.2s;
}

.container-img {
  margin-right: 400px;
}

img {
  float: left;
  padding: 4px;
  width: 80px;
  height: 80px;
  border: 0;
}

p {
  width: 100%;
  text-align: center;
  color: white;
}
