<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link href="css/main.css" rel="stylesheet" />
    <title>Write them all !</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.7/angular.min.js"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato" rel="stylesheet">
  </head>
  <body ng-app="myApp">
    <div ng-controller="ctrlChampions">
      <div class="navbar">
        <div>
          <p>Trouvez tous les champions !</p>
          <input type="text" ng-model="data" ng-change="verifyInput()" ng-disabled="isDisabled"></input>
          <div class="container-button">
            <button ng-click="launch()" ng-disabled="!isDisabled"><img src="img/button_play.png" [class.my-class]="isDisabled" /></button>
            <button ng-click="addAChamp()" ng-disabled="isDisabled"><img src="img/button_add.png" [class.my-class]="isDisabled" /></button>
            <button ng-click="giveUp()" ng-disabled="isDisabled"><img src="img/button_giveup.png" [class.my-class]="isDisabled" /></button>
          </div>
          <p>{{foundChampions}} / {{numberOfChamps}}</p>
          <p>{{minutes}}:{{seconds}}</p>
          <!--<p>{{endMessage}}</p>-->
        </div>
      </div>

      <div class="container-img">
        <img ng-repeat="champion in champions" ng-src="{{champion.url}}" ng-style="{'opacity' : champion.opacity}" />
      </div>
    </div>
  </body>

<script src="js/main.js"></script>
</html>
